<section>
<h3>Careers I Once Wanted</h3>
<ul>
	<li>Architect</li>
	<li>Graphic designer</li>
	<li>Industrial designer</li>
	<li>Typographer</li>
	<li>Musician</li>
	<li>Psychiatric nurse</li>
	<li>Mathematician</li>
	<li>Grade school teacher</li>
	<li>Software developer</li>
	<li>Choreographer</li>
</section>
