<section>
<h2>Elevator Bios</h2>
<h3>Art Practice</h3>
<p>
I am an artist and writer currently studying at the Alberta University of the Arts. My work looks at materiality and the human touch, communication, nuance and what often seems intangible. I like to delve into personal topics that feel narrow but transcend boundaries. Moments of imperfection, love, grief, rivers of mistakes, and the blooming beauty found all throughout human lives. Many experiences feel incredibly individual but are paralleled by billions. Always a little bit the same, and always a little bit different. I work with materials that range from traditional drawing supplies, clay and fibre based materials, to digital and new media. As time passes, I intend to get my hands dirtier in both the physical and the digital world of bits and bytes. Although much of my work leans towards a bubble of vulnerability and introspection, I'm happy to pop that bubble and explore other concepts — especially through collaboration.
</p>
<h3>Poetry</h3>
<p>
My poetry mines a similar vein but finds itself a little less grounded and more abstract and romantic. Poems range in inspiration from moments to daydreams, half realities stitched together, muses intermingle, a blush and a yearning turns into a series of words, a memory chips at a part of my soul until I have to say something about it, crushes cause sparks that start fires, and sometimes a spring day or winter punctuated with a warm drink is enough.
</p>
<h3>Outside of Art</h3>
<p>
Outside of my art practice I attempt to be passionately and compassionately curious. As Alice did in Wonderland, I always find myself "Curiouser and curiouser!" The things that are interesting to me seem to be infinite and I have to reign myself in. At times I have difficulty seeing where the beauty of the world stops but it often seems to stop where connection, listening, looking, and attention do. When we stop what lets us appreciate it, it stops. I've wanted to do many things and life has either ripped them apart or serendipitously opened doors and pushed me through them. Travel and connection are very important parts of my life and I intend to do much more when I can. I intend to make friends all over the world, share time and space and food and drinks. I believe life is a beautiful gift and even the mundane can be beautifully romanticized.
</p>
</section>
