<section>
<h2>Extended Bio</h2>
<p>
I am a multi·cross·inter·intra·disciplinary artist born in Banff, raised in Canmore, and currently based on Treaty 7 land. At the moment I'm studying at the Alberta University of the Arts (Formerly called ACAD). Before the pandemic and Covid 19 had its way with the world I intended to major in ceramics. My appreciation for ceramics has not diminished but as my access to studio space where I can work with clay has been on hold I have realized how deeply I appreciate all other forms of materiality.
</p><p>
I have been quite creative for as long as I can remember. I loved to write short stories from a young age, some of them with quite the fever dream like ideas. Some of my cherished early memories — as fragmented as they are — involve Lego. I would build a Lego set perfectly, and it would never stay built for long. It would be appreciated, and then I would take it apart and iterate. I would try to make something different, with the same parts, and to a similar standard. I still find it so intriguing that I was considering palettes, composition, and building taste so early.
</p>
</section>
