<section>
<h3>Want to support my work?</h3>
<p>
	If you'd like to support what I do, or my existence in a general sense, there are a few different ways.
</p>
<ul>
	<li><a id="buymea" href="/">Buy Me A Coffee</a></li>
	<li><a id="cashapp" href="/">Cash App</a></li>
	<li><a id="venmo" href="/">Venmo</a></li>
</ul>
<p>
	There are usually a variety of things on the top of my wishlist. Some of them that have to do with my every day life and some that have the potential to make a notable difference in the work I make. If you'd like to specifically support one of those purchases just add a comment with a hashtag and the name of what you'd like your money to go towards. Eg. #tattoos
</p>
<h3>Recurring</h3>
<ul>
	<li>Tattoos</li>
	<li>Self Care</li>
	<li>Paying off things</li>
	<li>Savings/Investment</li>
</ul>
</section>
